@using Common.Consts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BLL.Models.ViewModels.WarnTopFavorSolutionVm

<div class="item">
    <div class="col-lg-12 text-center">
        <ul>
            <li>
                <h3>@Model.Theme.Name</h3>
                <span>Об Услуге: @Model.Text</span>
            </li>
            <li>
                <span>
                    <b>Добавлена:</b>
                </span>
                <h6>@Model.Created.ToLocalTime().DateTime.ToString()</h6>
            </li>
            <li>
                <span>
                    <b>Автор:</b>
                </span>
                <h6>@Model.Author.Nick</h6>
            </li>
            <li>
                <span>
                    <b>Жалоб:</b>
                </span>
                <h6>@Model.ReportCount</h6>
            </li>
        </ul>


        <div class="col-lg-12 col-lg-12--flex">
            <fieldset class="button button--subjects">
                <button value="@Model.Id"  class="checkSubjects orange-button--white">Предметы</button>
            </fieldset>
            <fieldset class="button button--contact">
                @if (Model.Connection.Substring(0, 5) == "https")
                {
                    <button class="orange-button" onclick="location.href='@Url.Action(@Model.Connection)'">Контакты</button>
                }
                else
                {
                    <button class="orange-button" onclick="location.href='https://@Model.Connection'">Контакты</button>
                }
            </fieldset>
            <fieldset class="button button--subjects">
                <button onclick="location.href='/Admin/FavorReportsPage?favorId=@Model.Id'"
                         class="orange-button--white">Жалобы</button>
            </fieldset>
            @if (User.IsInRole(Roles.SuperAdminId))
            {
                <fieldset class="button button--ban">
                    <button class="orange-button"
                            id="BanUser"  value="@Model.AuthorId">Заблокировать</button>
                </fieldset>

                <fieldset class="button button--remove">
                    <button onclick="location.href='/User/DeleteFavor'" class="orange-button"
                            asp-route-returnUrl="@Url.Action("Index", "Home")" 
                            asp-route-userId="@Model.AuthorId"
                            asp-route-favorId="@Model.Id" asp-controller="User" asp-action="DeleteFavor">Удалить услугу</button>
                </fieldset>
            }
        </div>
    </div>
</div>