@using Common.Consts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BLL.Models.ViewModels.FavorSolutionVm



@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="item">
    <div class="col-lg-9 text-center">
        <ul>
            <li>
                <span class="category category--homework">Матеша</span>
                <span class="category category--homework">Анг Мова</span>
                <span class="category category--homework">Биология</span>
                <span class="category category--homework">Укр Мова</span>
                <span class="category category--homework">Физика</span>
                <h3>Дипломая Работа</h3>
                <span>Об Услуге: @Model.Text</span>
            </li>
            <li>
                <span>
                    <b>Добавлена:</b>
                </span>
                <h6>@Model.Created.ToLocalTime().ToString().Split()[0]</h6>
            </li>
            <li>
                <span>
                    <b>Автор:</b>
                </span>
                <h6>@Model.Nick</h6>
            </li>
            <li>
                <span>
                    <b>Стоимость:</b>
                </span>
                <h6>@Model.Price rub</h6>
            </li>
        </ul>


        <div class="col-lg-12 col-lg-12--flex">
            <fieldset class="button button--contact">
                <button class="orange-button">Контакты</button>
            </fieldset>

              @if (User.IsInRole(Roles.SuperAdminId))
              {
                  <fieldset class="button button--ban">
                      <input type="button" class="orange-button" value="Create" 
                                               onclick="location.href='@Url.Action("BanUser", "Admin")'" 
                                               asp-route-favorId="@Model.Id" value="Заблокировать">
                  </fieldset>

                  <fieldset class="button button--remove">
                  <input type="button" class="orange-button" value="Create" 
                         onclick="location.href='@Url.Action("DeleteFavor", "User")'" 
                         asp-route-favorId="@Model.Id" value="Удалить услугу">
                  </fieldset>
              }
        </div>
    </div>
</div>