@model BLL.Models.ViewModels.FavorSolutionVm

<div class="pt-2">
    <div class="col-12 border bg-light">
        <div class="">
            <div  class="col-12 row text-center">
                <div class="col-6">
                    <b class="">@Model.Nick</b>
                </div>
                <div class="col-6">
                    <small class=""> Цена: @Model.Price руб </small>
                </div>
            </div>
            <div class="col-12 row pt-1">
                <div class="col-12 text-center">
                    <i>@Model.Text</i>
                </div>
            </div>
            <div class="col-12 row pt-1 text-center">
                <div class="col-6">
                    <b>
                        Тема:
                        <i>@Model.Theme.Name</i>
                    </b>
                </div>
                <div class="col-6">
                    <small>Предметы:
                        @foreach (var modelSubject in Model.Subjects)
                        {
                            <i>@modelSubject.Name;</i>
                        }
                    </small>
                </div>
            </div>
            <div class="col-12 row pt-1 pb-1 text-center">
                <div class="col-6">
                    <a target="_blank" href="https://@Model.Connection">Связаться</a>
                </div>
                <div class="col-6">
                    <em class=""> Дата создания: @Model.Created.ToLocalTime().ToString().Split()[0] </em>
                </div>
            </div>
        </div>
    </div>
</div>
