@using Common.Consts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BLL.Models.ViewModels.FavorSolutionVm

<div>
    <div class="col-12 border bg-light">
        <div class="">
            @* <div class="col-12 row m-0 position-relative">
                <div class="col-6 text-center">
                    <b class="">@Model.Nick</b>
                </div>
                <div  class="col-6 text-center">
                    <b class=""> Цена: @Model.Price руб </b>
                    <button value="@Model.Id" class="position-absolute end-0 dislike"><i class="fa-regular fa-thumbs-down"></i></button>
                </div>
            </div>*@
            <div style="background-color: lavenderblush; min-height: 30px;" class="col-12 position-relative text-center">
                <span class="">@Model.Theme.Name</span>
                <button value="@Model.Id" class="position-absolute end-0 dislike"><i class="fa-regular fa-thumbs-down"></i></button>
            </div>
            <div class="col-12 text-center">
                <div @*style="background-color: #f5f5f5; border-color: #000000;"*@ class="col-12 border border-1">
                    <div class="p-3">
                        <span>Об Услуге: @Model.Text</span>
                    </div>
                </div>
            </div>
            <div class="subjects col-12 pt-1 text-center">
            </div>
            <div class="row pb-1 text-center">
                <div class="col-12 col-md-6 pt-2">
                    <button value="@Model.Id" class="checkSubjects btn btn-outline-dark"> Просмотреть предметы <i class="fa-solid fa-circle-info align-middle"></i></button>
                </div>
                <div class="col-12 col-md-6 pt-2">
                    @if (Model.Connection.Substring(0, 5) == "https")
                    {
                        <a class="btn btn-outline-dark" href="@Model.Connection">Связаться <i class="fa-regular fa-comments"></i></a>
                    }
                    else
                    {
                        <a class="btn btn-outline-dark" href="https://@Model.Connection">Связаться <i class="fa-regular fa-comments"></i></a>
                    }
                </div>
            </div>
            <div class="row text-center">
                <div style="font-size: 11px;" class="col-12">
                    <span> Имя: @Model.Nick, дата создания: @Model.Created.ToLocalTime().ToString().Split()[0] </span>
                </div>
                @*<div style="font-size: 20px;" class="col-12 col-md-6">
                   <div>@Model.Connection</div>
               </div>*@
            </div>
            @if (User.IsInRole(Roles.SuperAdminId))
            {
                <div class="row text-center">
                    <div class="col-12">
                        <a asp-route-returnUrl="@Url.Action("Index", "Home")" asp-route-favorId="@Model.Id" asp-controller="User" asp-action="DeleteFavor">Удалить услугу</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>