@using Common.Configs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ModelsConfiguration
@model BLL.Models.ViewModels.IndexVm

@section Styles
{
    <link rel="stylesheet" href="~/css/pages/viewServices.css"  asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/nav.css"  asp-append-version="true">
}

<div class="servicesList">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12--flex">
                <fieldset class="button button--contact">
                    <a asp-area="" asp-controller="FavorSolution" asp-action="AddSolution">
                        <button class="orange-button">Добавить Свою Услугу</button>
                    </a>
                </fieldset>
            </div>
        </div>

        <div class="serviceListSearch">
            <div class="price_range">
                <div class="price_range_content">
                    <div class="price_range_numeric">
                        <div class="price price-min_price">
                            <div class="field">
                                <input id="minPrice" type="text" class="input-min" value="0 Р">
                            </div>
                        </div>

                        <div class="mini_line"></div>

                        <div class="price price-max_price">
                            <div class="field">
                                <input id="maxPrice" type="text" class="input-max" value="20000 Р">
                            </div>
                        </div>
                    </div>

                    <div class="slider">
                        <div class="progress"></div>
                    </div>

                    <div class="range-input">
                        <input type="range" class="range-min" min="@SolutionConfiguration.MinPrice" max="@SolutionConfiguration.MaxPrice" value="0" step="100">
                        <input type="range" class="range-max" min="@SolutionConfiguration.MinPrice" max="@SolutionConfiguration.MaxPrice" value="@SolutionConfiguration.MaxPrice" step="100">
                    </div>
                </div>

                <div class="col-lg-12 col-lg-12--flex">
                    <fieldset class="input_field half-width">
                        <select class="form-select"
                                name="themes"
                                id="themes"
                                placeholder="Тема">
                            <option value="">Все темы</option>
                            @foreach (var theme in Model.ThemeVms)
                            {
                                <option value="@theme.Id">@theme.Name</option>
                            }
                        </select>
                    </fieldset>

                    <fieldset class="input_field half-width">
                        <select class="form-select"
                                name="subjects"
                                id="subjects"
                                placeholder="Тема">
                            <option value="">Все предметы</option>
                            @foreach (var subject in Model.SubjectVms)
                            {
                                <option value="@subject.Id">@subject.Name</option>
                            }
                        </select>
                    </fieldset>

                    <fieldset class="input_field half-width">
                        <button id="findFavors" class="orange-button--white">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section events" id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2 class="no_extra_text_effects">Результаты по вашему запросу</h2>
                </div>
            </div>

            <div id="FavorsWithPagination">
                <partial name="Partials/_FavorsWithPagination" model="Model.FavorsWithPaginationVm"/>
            </div>
        </div>
    </div>
</div>

@*Модальное окно*@
<div style="" class="Modal">
    <div class="Content">
    </div>
</div>


@section Scripts
{
    <!-- Optional includes -->
    <!-- End optional includes -->

    <script src="~/js/Home/Index.js"  asp-append-version="true"></script>
}