@using Common.Configs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ModelsConfiguration
@model BLL.Models.ViewModels.IndexVm


@section Styles
{
    <link rel="stylesheet" href="~/css/pages/viewServices.css">
    <link rel="stylesheet" href="~/css/pages/main.css">
}

<div class="servicesList">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12--flex">
                <fieldset class="button button--contact">
                    <a asp-area="" asp-controller="FavorSolution" asp-action="AddSolution">
                        <button class="orange-button">Добавить Свою Услугу</button>
                    </a>
                </fieldset>
            </div>
        </div>

        <div class="serviceListSearch">
            <div class="price_range">
                <div class="price_range_content">
                    <div class="price_range_numeric">
                        <div class="price price-min_price">
                            <div class="field">
                                <input id="minPrice" type="text" class="input-min" value="0 Р">
                            </div>
                        </div>

                        <div class="mini_line"></div>

                        <div class="price price-max_price">
                            <div class="field">
                                <input id="maxPrice" type="text" class="input-max" value="20000 Р">
                            </div>
                        </div>
                    </div>

                    <div class="slider">
                        <div class="progress"></div>
                    </div>

                    <div class="range-input">
                        <input type="range" class="range-min" min="@SolutionConfiguration.MinPrice" max="@SolutionConfiguration.MaxPrice" value="0" step="100">
                        <input type="range" class="range-max" min="@SolutionConfiguration.MinPrice" max="@SolutionConfiguration.MaxPrice" value="@SolutionConfiguration.MaxPrice" step="100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="Partials/_FavorsWithPagination" model="Model.FavorsWithPaginationVm"/>


@section Scripts
{
    <script src="~/js/Home/Index.js"></script>
}