@using Common.Consts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BLL.Models.ViewModels.FavorSolutionVm



@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="item">
    <div class="col-lg-9 text-center">
        <ul>
            <li>
                <h3>@Model.Theme.Name</h3>
                <span>Об Услуге: @Model.Text</span>
            </li>
            <li>
                <span>
                    <b>Обновлена:</b>
                </span>
                <h6>@Model.Created.ToLocalTime().DateTime.ToString()</h6>
            </li>
            <li>
                <span>
                    <b>Стоимость:</b>
                </span>
                <h6>@Model.Price rub</h6>
            </li>
        </ul>


        <div class="col-lg-12 col-lg-12--flex">
            <fieldset class="button button--remove">
                <a class="orange-button btn btn-dark" asp-action="EditFavor" asp-controller="User" asp-route-id="@Model.Id">Редактировать</a>
            </fieldset>
            
            <fieldset class="button--ban">
                <a class="orange-button btn btn-danger"
                        asp-controller="User" asp-action="DeleteFavor"
                        asp-route-favorId="@Model.Id">Удалить услугу</a>
            </fieldset>

            <fieldset class="button--ban">
                <button class="orange-button btn btn-light"
                   id="reloadFavor" value="@Model.Id">Обновить услугу</button>
            </fieldset>
        </div>
    </div>
</div>